@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.navbar {
  background-color: #001f3f; /* Fondo azul marino */
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar-brand img {
  width: 8%;
  height: auto;
  margin-bottom: 10px; /* Espaciado entre el logo y el texto */
  padding-top: 10px;
}

.textologo {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  font-family: Arial;
  font-size: 30px;
}

#bar-link {
  background-color: #001f3f;
  padding: 15px;
  margin-top: 12px;
  text-align: center;
  justify-content: space-between;
}
#bar-link ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#bar-link li {
  margin-right: 20px;
  margin-bottom: 10px;
}
#bar-link a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
#bar-link a:hover {
  background-color: #555;
}

.social-icons i {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
}
.social-icons a:hover {
  color: #bbb;
}

.text-center {
  text-align: center;
  font-weight: 800;
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #001274;
}
#container .animatedBanner {
  width: 200%; /* Ajusta el ancho según tus necesidades */
  height: 100%;
  /* Puedes cambiar el color según tus preferencias */
  position: absolute;
  top: 0;
  left: 0;
  animation: moveBanner 5s linear infinite; /* Ajusta la duración y el tipo de animación según tus preferencias */
}
#container .animatedBanner img {
  width: 100%;
  height: auto;
  animation: moveBanner 20s linear infinite;
}

#banner {
  position: relative;
}
#banner .container-fluid img {
  width: 100%;
  height: auto;
}
#banner button {
  position: absolute;
  top: 50%;
  right: 10%; /* Ajusta este valor según tus necesidades */
  transform: translateY(-50%);
  font-size: 70px; /* Ajusta el tamaño del texto del botón según tus necesidades */
  padding: 10px 20px; /* Ajusta el relleno del botón según tus necesidades */
  background-color: #001f3f;
  color: yellow;
  border: 1px solid black; /* Añade un borde si lo deseas */
  cursor: pointer;
  border-radius: 20px;
}
#banner:hover {
  background-color: black;
  color: white;
}

#textos-varios {
  text-align: center;
  padding: 10px;
  line-height: 3rem;
  font-size: medium;
}

#venta {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#venta .pagos {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#venta .pagos .texto-rayado {
  text-decoration: line-through;
  color: #001f3f;
  font-size: 6rem;
}
#venta .pagos .precio {
  font-size: 6rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
#venta .pagos .btn-comprar {
  background-color: #001f3f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 5rem; /* Ajusta según sea necesario */
  text-decoration: none;
}
#venta .pagos .img-pago {
  width: 20%; /* Ajusta según sea necesario */
}
#venta .pagos .envio {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
#venta .columna {
  display: flex;
  flex-wrap: wrap;
  width: 90%; /* Ajusta según sea necesario */
  margin: 0;
  padding: 5px;
  border: 1px gray solid;
  border-radius: 5px;
  box-shadow: 8px 11px 5px -5px rgba(163, 161, 161, 0.2);
}
#venta .columna .producto,
#venta .columna .info {
  flex: 2;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
  padding: 0;
  position: relative;
}
#venta .columna .producto img,
#venta .columna .info img {
  width: 80%;
}
#venta .columna .producto .garantia,
#venta .columna .info .garantia {
  width: 30%;
  position: absolute;
  bottom: 2%;
  right: 40%;
}

#banner-medio {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#banner-medio .container {
  width: 100%;
  height: 100%;
}
#banner-medio .img-banner {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#tiktok {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#tiktok h1 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
}
#tiktok .tiktok-embed {
  width: 200px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#banner-chica {
  overflow: hidden;
}
#banner-chica img {
  width: 100%;
}

#text-banner {
  font-family: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#text-banner h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

#preguntas {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}
#preguntas .banner-final {
  max-width: 800px;
  margin: auto;
}
#preguntas .banner-final h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #001f3f; /* Color del texto azul marino */
}
#preguntas .banner-final p {
  font-size: 1.5em;
  color: #555; /* Color del texto gris oscuro */
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#preguntas .banner-final .btn-consulta {
  display: inline-block;
  background-color: #001f3f;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s;
}
#preguntas .banner-final .btn-consulta:hover {
  background-color: #004080; /* Cambia el color de fondo al pasar el ratón */
}

#text-footer {
  background-color: #001f3f;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer {
  text-align: center;
  font-size: xx-large;
}

#whatsapp-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

#whatsapp-button {
  background-color: #25d366;
  color: #fff;
  padding: 15px;
  border-radius: 50px; /* Hacer el botón redondo */
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 58px;
  transition: background-color 0.3s;
}
#whatsapp-button:hover {
  background-color: #128c7e;
}
#whatsapp-button i {
  margin-right: 0px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #001f3f; /* Cambia el color de fondo según tus preferencias */
}
.footer .logo-section {
  flex: 1;
  align-items: center;
  text-align: center;
  color: white;
}
.footer .logo-section p {
  text-decoration: none;
}
.footer .logo-section a {
  text-decoration: none;
  color: white;
}
.footer .logo-section img {
  width: 40%;
  padding-bottom: 5px;
}
.footer .separator {
  width: 2px;
  height: 20rem; /* Ajusta la altura según tus necesidades */
  background-color: white; /* Color blanco para la línea de separación */
}
.footer .ul-section {
  flex-grow: 1;
  padding: 0 20px; /* Ajusta el espaciado según tus necesidades */
  padding-top: 10px;
}
.footer .ul-section ul {
  list-style: none;
  padding: 0;
}
.footer .ul-section li {
  text-decoration: none;
}
.footer .ul-section a {
  text-decoration: none;
  font-size: 30px;
  color: white;
}
.footer .banks-section {
  margin-left: 20px; /* Ajusta el espaciado según tus necesidades */
  flex: 1;
  position: relative;
}
.footer .banks-section img {
  position: absolute;
  width: 70%; /* Ajusta el ancho de la imagen según tus necesidades */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  #bar-link {
    flex-direction: column;
  }
  #bar-link ul {
    justify-content: center;
  }
  #bar-link li {
    margin-right: 0;
    margin-bottom: 8px;
  }
  #banner img {
    width: 100%;
    height: auto;
  }
  #banner button {
    font-size: 30px;
  }
  .navbar img {
    width: 15vh;
  }
  /* Ajuste de padding en textos-varios para pantallas pequeñas */
  #textos-varios {
    padding: 10px;
  }
  .texto h2 {
    font-size: 15px;
  }
  .texto h3 {
    font-size: 18px;
  }
  .texto h1 {
    font-size: 1em;
  }
  #venta {
    background-color: white;
    justify-content: space-between;
  }
  #venta .columna {
    /* ajusta según sea necesario */
    display: flex;
  }
  #venta .columna .producto img {
    width: 40vh;
  }
  #venta .columna {
    /* ajusta según sea necesario */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #venta .columna .pagos {
    text-align: center;
  }
  #venta .columna .pagos .img-info {
    width: 80vh;
  }
  #venta .columna .pagos .precio {
    font-size: 2rem;
    font-weight: 500;
  }
  #venta .columna .pagos .btn-comprar {
    width: 80%;
    font-size: 3.5rem;
    margin-top: 40px;
    display: inline-block;
    padding: 10px;
    background-color: #001f3f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    left: 50%;
    bottom: 0;
  }
  #venta .columna .pagos .btn-comprar:hover {
    background-color: #004080;
  }
  #venta .columna .pagos .img-pago {
    width: 8rem;
    margin: 10px 0;
    padding-bottom: 30px;
  }
  #text-banner {
    padding: 10px;
    margin-bottom: 0; /* Elimino el margen inferior en pantallas pequeñas */
  }
  .texto {
    font-size: 1em;
    margin-bottom: 5px;
  }
  p {
    font-size: 1em;
    margin-bottom: 5px;
  }
  #banner-medio .img-banner {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%; /* Utilizo el 100% de la altura en lugar de una altura fija */
    max-height: calc(100vh - 30px); /* Ajusto la altura máxima para dejar espacio para el texto */
  }
  #preguntas .banner-final {
    padding-top: 10px;
  }
  #preguntas .banner-final h1 {
    font-size: 2em;
  }
  #preguntas .banner-final p {
    font-size: 1em;
  }
  #preguntas .banner-final .btn-consulta {
    padding: 10px 20px;
    font-size: 1.5rem;
  }
  #text-footer h2 {
    font-size: 1.2em; /* Ajustado el tamaño de la fuente para pantallas pequeñas */
  }
  footer h1 {
    font-size: 1.5em; /* Ajustado el tamaño de la fuente para pantallas pequeñas */
  }
  #whatsapp-button {
    padding: 10px;
    font-size: 5rem;
    border-radius: 50%;
  }
  #whatsapp-button i {
    margin-right: 3px;
  }
  .footer {
    flex-direction: column; /* Cambia a disposición de columna en pantallas pequeñas */
    text-align: center;
  }
  .footer .logo-section img {
    width: 20%;
  }
  .footer .logo-section .text {
    font-size: 13px;
  }
  .footer .ul-section a {
    font-size: 18px;
  }
  .separator {
    display: none;
  }
  .banks-section {
    margin-top: 0; /* Elimina el margen superior en pantallas pequeñas */
    top: 0;
  }
  .banks-section img {
    width: 100%;
  }
}
@media (max-width: 560px) {
  #bar-link {
    flex-direction: column;
  }
  #bar-link ul {
    justify-content: center;
  }
  #bar-link li {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .navbar h5 {
    font-size: 8px;
  }
  .text-center {
    font-size: 15px;
    font-family: "Oswald", sans-serif;
  }
  #container {
    height: 3.5vh;
  }
  #container .animatedBanner img {
    width: 90%; /* Ajusta según tus necesidades para que se vea bien en pantallas más pequeñas */
    height: 80%;
  }
  #banner img {
    width: 100%;
    height: auto;
  }
  #banner button {
    font-size: 20px;
  }
  .navbar img {
    width: 10vh;
    padding-bottom: 2px;
  }
  /* Ajuste de padding en textos-varios para pantallas pequeñas */
  #textos-varios {
    padding: 10px;
  }
  .texto h2 {
    font-size: 14px;
  }
  .texto h3 {
    font-size: 16px;
  }
  .texto h1 {
    font-size: 1em;
  }
  #venta {
    background-color: white;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  #venta .columna .producto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #venta .columna .producto img {
    width: 250px;
  }
  #venta .columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #venta .columna .pagos {
    text-align: center;
  }
  #venta .columna .pagos .texto-rayado {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  #venta .columna .pagos .img-info {
    width: 10%;
    max-width: 250px;
  }
  #venta .columna .pagos .precio {
    font-size: 1.5rem;
    font-weight: 500;
  }
  #venta .columna .pagos .btn-comprar {
    width: 100%;
    font-size: 1rem;
    margin-top: 5px;
    display: inline-block;
    padding-left: 8px;
    background-color: #001f3f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    left: 50%;
    bottom: 0;
  }
  #venta .columna .pagos .btn-comprar:hover {
    background-color: #004080;
  }
  #venta .columna .pagos .img-pago {
    width: 60%;
    max-width: 120px;
    margin: 3px 0;
    padding-bottom: 10px;
    position: relative;
  }
  #venta .columna .pagos .envio {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  #tiktok {
    width: 100%;
  }
  #tiktok h1 {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
  }
  #text-banner h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 33px;
  }
  #text-banner p {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #text-banner .banner-final {
    color: black;
  }
  #text-banner .banner-final .btn-consulta {
    font-size: 2rem;
  }
  #whatsapp-container .whatsapp-button {
    font-size: 10px;
  }
  #whatsapp-container a {
    font-size: 40px;
  }
}/*# sourceMappingURL=styles.css.map */